TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_WEBHOOK_SECRET=
TOKEN_ENCRYPTION_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
NODE_ENV=
MINECRAFT_WS_AUTH_TOKEN=
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
SENTRY_DSN=
SENTRY_RELEASE=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
